.map {
	display: flex;
	flex-direction: column;
	border: 3px solid red;
}

.map-row {
	display: flex;
}

.map-tile {
	width: 5vw;
	height: 5vw;
}

.item {
	width: 3vw;
	height: 3vw;
	margin: 1vw;
	font-size: 1vw;
}

.main-layout {
	margin: 10px;
	display: flex;
}

.inventory {
	background-color: green;
	width: 10vw;
	height: 10vw;
	text-align: center;
	margin-left: 10px;
	margin-top: 10px;
}
.location {
	background-color: blue;
	width: 10vw;
	height: 10vw;
	text-align: center;
	margin-left: 10px;
	margin-top: 10px;
}

.character {
	background-color: yellow;
	width: 10vw;
	height: 10vw;
	text-align: center;
	margin-left: 10px;
}

.btn {
	border: 10px black;
	background-color: red;
	font-size: 16px;
	cursor: pointer;
}
